.emp-profile
{

    width: 1000px;
    padding: 100px;

}
.profile-img img
{
    width: 200px;
    border-radius: 200px;
}
.profile-head
{

}
.profile-work
{

}
.about-info
{

}
.profile-tab
{

}
.tab-pane
{

}
